<%= simple_form_for(@star) do |f| %>
  <%= f.input :name, :required => false %>
  <%= f.input :price, :required => false %>
  <%= f.input :description, :required => false %>
  <%= f.input :galaxy, :required => false %>
  <%= f.input :photos, as: :file, input_html: { class: 'd-none', multiple: true }, label_html: { class: 'btn m-0' }  %>
  <hr>
  <button class = "btn" id="fake_add"> Add star</button>
  <%= f.submit 'Add star', class: 'btn-hidden', id: "add_star_btn"%>

<% end %>
