<div class="banner-container banner-index">
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <h1 class="text-center m-5">Story of our stars</h1>
    </div>
    <div class="col-6 d-flex align-items-center">
      <p class="m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et 
      dolore magna aliqua</p>
    </div>
  </div>
  <%# <div class="row">
    <div class="col-6">
      <h2 class="text-center m-5">Discover the universe</h2>
    </div>
  </div> %>
</div>
<div class="cards-star my-5">
  <% @stars.each do |star| %>
    <div class="card-star d-flex flex-column">
    <% if star.photos.empty? %>
      <div class="card-star-image" style="background-image: url('<%= image_url("default-planet.png") %>');">
    <% else  %>
      <div class="card-star-image" style="background-image: url('<%= url_for(star.photos.first) %>');">
    <% end  %>
      </div>
      <div class="card-star-infos d-flex flex-column justify-content-around m-3">
        <h1 class="m-0"><%= link_to star.name.upcase, star_path(star) %></h1>
        <div class="rating">
          <% star.average_rating.times do %>
            <i class="fas fa-star pb-1"></i>
          <% end %>
          <% (5 - star.average_rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          ( <%= star.reviews.count %> rating )
        </div>
        <%# <%= link_to 'Rent this star', star_path(star), class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
