<div class="row mx-5 my-3 align-items-center">
  <div class="planet">
    <% if @star.photos.empty? %>
        <img src="<%= asset_path('default-planet.png') %>" class="planet-image"/>
    <% else  %>
        <%= cl_image_tag(@star.photos.first.key, class: "planet-image") %>
    <% end %>
  </div>
  <div class="col-9 offset-3 col-lg-6 offset-lg-6 px-4 py-3 mb-3 star-infos">
    <div class="details d-flex flex-column">
      <div class="owner mb-2 d-flex align-items-center">
        <% if @star.user.photo.attached? %>
          <%= cl_image_tag(@star.user.photo.key, class: "avatar show-avatar" )%>
        <% else %>
          <img src="<%= asset_path('default-avatar.png') %>" class="avatar show-avatar">
        <% end %>
        <p class="ml-1 m-0">
          <% if @star.user == current_user %>
            You own this star 😀
          <% else %>
          <%= @star.user.first_name %> <%= @star.user.last_name %> owns this star
          <% end %></p>
      </div>
      <h1>Name</h1>
      <p><%= @star.name %></p>
      <hr class="m-0">
      <h1>Galaxy</h1>
      <p><%= @star.galaxy %></p>
      <hr class="m-0">      
      <h1>Description</h1>
      <p class="text-justify description"><%= @star.description %></p>
      <hr class="m-0">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Rating</h1>
        <div class="rating">
          <% @star.average_rating.times do %>
            <i class="fas fa-star pb-1"></i>
          <% end %>
          <% (5 - @star.average_rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
            ( <%= @star.reviews.count %> <%= @star.reviews.count > 1 ? "ratings" : "rating" %> )
        </div>
      </div>
      <hr class="m-0">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Price</h1>
        <h3><%= @star.price %> €</h3>
      </div>
    </div>
    <div class="booking d-flex flex-column">
      <div class="select-dates">
        <% if (user_signed_in? && policy(@booking).create?) || !user_signed_in? %>
          <p>Select dates</p>
          <%= simple_form_for [@star, @booking] do |f| %>
            <div class="d-flex justify-content-around">
              <%= f.input :start_date, label: false, input_html: { id: "start-date", class: "btn btn-flatpickr flatpickr" }, as: :string, placeholder: "Start date" %>
              <%= f.input :end_date, label: false, input_html: { id: "end-date", class: "btn btn-flatpickr flatpickr" }, as: :string, placeholder: "End date" %>
              <%= f.submit "Book now", class: "btn" %>
            </div>
          <% end %>
        <% else %>
          <div class="d-flex justify-content-center">
            <%= link_to "Update Star",  edit_star_path(@star), class: "btn"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
