<div class = "container">
  <div class = "show_logo">

  </div>
  <div class ="show_description">
    <% if @star.user == current_user %>
      You own this star 😀
    <% end %>
    <p>
      <strong>Name:</strong>
      <%= @star.name %>
    </p>


    <p>
      <strong>Price:</strong>
      <%= @star.price %> €
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @star.user.username %>
    </p>


    <% @star.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <% if (user_signed_in? && policy(@booking).create?) || !user_signed_in? %>

    <%= simple_form_for [@star, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Add a booking" %>
    <% end %>

  <% else %>
    <%= link_to "Update Star Informations",  edit_star_path(@star), class: "btn btn-primary"%>
  <% end %>

</div>
