<div class = "container">
  <div class = "show_logo">

  </div>
  <div class ="show_description">
    <p>
      <strong>Name:</strong>
      <%= @star.name %>
    </p>


    <p>
      <strong>Price:</strong>
      <%= @star.price %> €
    </p>

     <p>
      <strong>Galaxy:</strong>
      <%= @star.galaxy %>
    </p>

     <p>
      <strong>Description:</strong>
      <%= @star.description %>
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @star.user.username %>
    </p>

    <% @star.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <%= simple_form_for [@star, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Add a booking" %>
<% end %>


</div>
