<div class = "container">
  <div class = "show_logo">

  </div>
  <div class ="show_description">
    <p>
      <strong>Name:</strong>
      <%= @star.name %>
    </p>


    <p>
      <strong>Price:</strong>
      <%= @star.price %> €
    </p>

    <p>
      <strong>Owner:</strong>
      <%= @star.user.username %>
    </p>
  </div>

  <%= simple_form_for [@star, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Add a booking" %>
<% end %>


</div>
