<% if @star.user == current_user %>
  You own this star 😀
<% end %>
<div class="row mx-5 my-3 d-flex justify-content-between align-items-center">
  <div class="col-12 col-lg-8 border-container px-4 py-3 mb-3">
    <div class="details">
      <div class="owner d-flex flex-column align-items-center">
        <% if @star.user.photo.attached? %>
          <%= cl_image_tag(@star.user.photo.key, class: "avatar show-avatar" )%>
        <% else %>
          <img src="<%= asset_path('default-avatar.png') %>" class="avatar show-avatar">
        <% end %>
        <%= @star.user.username %>
      </div>
      <h1><%= @star.name %></h1>
      <div class="rating">
          <% @star.average_rating.times do %>
            <i class="fas fa-star pb-1"></i>
          <% end %>
          <% (5 - @star.average_rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
          ( <%= @star.reviews.count %> rating )
        </div>
      <div>
        <% if @star.photos.empty? %>
            <img src="<%= asset_path('default-planet.png') %>"/>
        <% else  %>
            <%= cl_image_tag(@star.photos.first.key) %>
        <% end %>
      </div>
      <div class="d-flex justify-content-between">
        <h3>Details</h3>
        <h3><%= @star.price %> €</h3>
      </div>
      <p>Galaxy : <%= @star.galaxy %></p>
      <p class="text-justify"><%= @star.description %></p>
    </div>
  </div>
  <div class="col-6 col-lg-3 p-0">
    <div class="booking">
      <% if (user_signed_in? && policy(@booking).create?) || !user_signed_in? %>
        <div class="select-dates border-container p-3">
          <h3>Select dates</h3>
          <%= simple_form_for [@star, @booking] do |f| %>
          <div class="d-flex justify-content-around">
          <%= f.input :start_date, label: false, input_html: { id: "start-date", class: "btn btn-flatpickr flatpickr" }, as: :string, placeholder: "Start date" %>
          <%= f.input :end_date, label: false, input_html: { id: "end-date", class: "btn btn-flatpickr flatpickr" }, as: :string, placeholder: "End date" %>
          </div>
          <%= f.submit "Book now", class: "btn" %>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Update Star",  edit_star_path(@star), class: "btn"%>
      <% end %>
    </div>
    </div>
</div>
