
<div class="container my-5">
  <div class="row justify-content-center my-5">
      <h1 class="px-auto"> Your trips </h1>
  </div>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-lg-4 booking">
        <div class="booking-box">
          <% if booking.star.photos.empty? %>
            <img src="<%= asset_path('default-planet.png') %>" class="planet-img"/>
          <% else  %>
            <%= cl_image_tag(booking.star.photos.first.key, class: "planet-img") %>
          <% end %>
          <div class="card-trip-infos">
            <div class="trip-desc">
              <div class="trip-text-desc">
                <h4> <%= booking.start_date %> to <%= booking.end_date %></h4>
                <h2> <%= booking.star.name %> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing, elit.</p>
              </div>
              <% if booking.star.user.photo.attached? %>
                <%= cl_image_tag(booking.star.user.photo.key, class: "avatar" )%>
              <% else %>
                <img src="<%= asset_path('default-avatar.png') %>"
                     class="avatar">
              <% end %>
              <%= link_to "More Details",
                  booking_path(booking),
                  class: "trip-details"
              %>
            </div>
          </div>
        </div>
      </div>s
    <% end  %>
  </div>
