
<h1> Booking for <strong><%= @booking.star.name %></strong> </h1>
<h3> <%= (@booking.star.price * (@booking.end_date - @booking.start_date)).to_i %> €</h3>
<p> <%= @booking.start_date %>  to  <%= @booking.end_date %></p>
<br>
  <%= link_to "Cancel booking",
              booking_path(@booking),
              method: :delete,
              class: "btn btn-danger hidden",
              style: "display: none",
              id: "btn_delete"
  %>
<button class = "btn" id="fake-delete">Cancel booking</button>
<br>
<%= simple_form_for [ @booking, @review ] do |f| %>
  <%= f.input :rating, :required => false %>
  <%= f.input :comment, :required => false %>
  <%= f.submit "Add a review" %>
<% end %>
